	.el-container
		.el-header
			text-align: center
			background: #e7e7e7
			font-size: 1.2rem
			color: #141414
			font-weight: 600
			letter-spacing: 2px
		.el-row
			margin: 2rem 0
			display: flex
			justify-content: center  //左右居中
			.el-col
				.article
					background: #fff
					.article-top
						padding: 2rem
						border-radius: 0.2rem
						box-shadow: 0 0 4px rgba(0,0,0, .2)
						.article-avatar
							display: flex
							flex-direction: column
							margin-bottom: 2rem
							.avatar-top
								display: flex;
								align-items: center
								.avatar-img
									cursor: pointer
									width: 3rem
									height: 3rem
									img
										height: 100%
										width: 100%
										border-radius: 0.4rem
										box-shadow: 0 1px 4px rgba(0,0,0,.4)
										border: 1px solid #fff
								.avatar-name
									cursor: pointer
									font-size: 1.2rem
									font-weight: 600
									margin-left: 1rem
									a
										text-decoration: none
										color: #444
								.el-tag--info
									margin-left: 1rem
									color: #409EFF
									border: 1px solid rgba(64,158,255,.2)
									background: rgba(64,158,255,.1)
							.avatar-bottom
								display: flex
								margin-left: 4rem
								color: #aaa
								.avatar-look
									margin-left: 1rem
						.article-info
							overflow: hidden
							.article-info-top
								.article-info-title
									text-align: center
									font-size: 2rem
									font-weight: 600
									margin-bottom: 0.8rem
								.article-info-content
									letter-spacing: 0.08rem
									font-size: 1rem
									color: #333
							.article-info-bottom
								display: flex
								margin: 1rem 0
								float: right
								color: #8a93a0
								.article-info-like
									cursor: pointer
								.article-info-collection
									cursor: pointer
									margin: 0 2rem

.changeColor
	color: #fd6c4b